<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>cwiczenie 01</title>
</head>
<style>
    b {
        color: rgb(71, 171, 240);
        margin: 20px;
        padding: 20px;
        background: rgb(45, 48, 53) none repeat scroll 0% 0%;
        display: block;
        border-radius: 10px;
        font-family: couriercode;
        font-weight: normal;
        position: relative;
    }
</style>

<body>

    {{{body}}}

</body>

</html>